<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
      path="*" 
      verb="*" 
      modules="FastCgiModule" 
      scriptProcessor="C:\ProgramData\Anaconda3\envs\mybase39\python.exe|C:\ProgramData\Anaconda3\envs\mybase39\lib\site-packages\wfastcgi.py"
      resourceType="Unspecified"
      requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\WebApp\SMartApp" />
    <add key="WSGI_HANDLER" value="SMartApp.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="SMartApp.settings" />
  </appSettings>
</configuration>
