<span
        style="color:red"><u><h4>Critical Update Is PM Field:</h4></u></span>
<strong>1.ALLOW</strong> to update <strong>&quot;Is PM&quot;</strong> field from<strong> &quot;check&quot; to
    &quot;uncheck&quot;</strong> in &quot;<span
        style="color:#0000cc"><strong>Update All Mode&quot;
and Update Brand=brand&quot mode" ONCE</strong></span>.
<span style="color:#e74c3c"><strong>2.NOT ALLOW you to revert it back</strong></span> in both modes.<br>
if any errors, contact the system administrator.