{% extends "app/layout.html" %}
{% load auth_extras %}
{% load crispy_forms_tags %}
{% block content %}
    {% include "app/layout_error_message.html" %}
    <h2>{{ projectInfo.company.company_name }} : Project Info</h2>

    <table class="table table-striped table-hover table-condensed">
        <tr>
            <th scope="col">ENQ ID</th>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>

            <th scope="col">Contract-NO/Reference</th>

        </tr>
        <tr style="background:#93c6ef">
            <td>{{ projectInfo.enq_id }}</td>
            <td>{{ projectInfo.project_name }}</td>
            <td>{{ projectInfo.project_start | date:"d M Y" }}</td>
            <td>{{ projectInfo.project_end | date:"d M Y" }}</td>

            <td>{{ projectInfo.contract_no |default_if_none:"" }}</td>
        </tr>
    </table>
    <h3> {{ mode }} : Preventive Maintenance</h3>

        <form method="post" id="pmForm">
            {% csrf_token %}
            <div class="well">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">{{ form.planned_date | as_crispy_field }}</div>
                         <div class="col-md-3">{{ form.ended_pm_date | as_crispy_field }}</div>
                        <div class="col-md-3">{{ form.team_lead | as_crispy_field }}</div>
                        <div class="col-md-3">{{ form.engineer | as_crispy_field }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">{{ form.remark | as_crispy_field }}</div>
                        <div class="col-md-3">{{ form.customer_company | as_crispy_field }}</div>
                        <div class="col-md-3">{{ form.contact_name | as_crispy_field }}</div>
                        <div class="col-md-3">{{ form.contact_telephone | as_crispy_field }}</div>
                         <div class="col-md-3">
                                  &nbsp;&nbsp;

                       </div>
                    </div>
                    <div class="row">
                  <div class="col-md-3">{{ form.site_branch | as_crispy_field }} </div>
                     <div class="col-md-3">  {{ form.equipment_location | as_crispy_field }}</div>
                      <div class="col-md-3">
                          {% if request.user|has_group:"site-manager" %}
                               <input type="submit" value="Save" class="btn btn-success"
                                   onclick="return confirm('Do you want to save?')">
                          {% endif %}
                      </div>
                    <div class="col-md-3">
                          {% if request.user|has_group:"site-manager" %}
                           <a href="{% url 'manage_pm' projectInfo.id 0 %}" class="btn btn-success">Reset</a>
                          {% endif %}
                      </div>
                 </div>

                </div>
            </div>
        </form>


    <hr>

    {% if pmList %}
        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th scope="col">Planed Date</th>
                <th scope="col">End Date</th>
                <th scope="col">PM Period</th>
                <th scope="col">Customer</th>
                <th scope="col">Team Lead</th>
                
                <th scope="col">Delete</th>
                <th scope="col">Update PM</th>
                <th scope="col">Copy PM<br></th>
                <th scope="col">PMItems<br></th>
                <th scope="col">No-PMItems<br></th>
                <th scope="col">PM Inventories</th>

            </tr>

            {% for item in pmList %}
                <tr>
                  <td>{{ item.planned_date | date:"M Y" }}</td>
                  <td>{{ item.ended_pm_date | date:"d M Y"  }}</td>
                    <td>
                        {{ item.remark }}
                    </td>
                    <td>
                        {{ item.customer_company }}
                    </td>
                    <td>
                        {{ item.team_lead |default_if_none:"" }}
                    </td>
                    <td>
                      {% if request.user|has_group:"site-manager" %}
                        <a href="{% url 'delete_pm' item.id %}" class="alert-danger"
                           onclick="return confirm('Do you carefully review pm info before deleting?')">Delete</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'manage_pm' projectInfo.id item.id %}"
                           class="btn btn-link">click</a>
                    </td>
                    <td>
                        {% if request.user|has_group:"site-manager"  and projectInfo.total_inventories > 0 %}
                        <a href="{% url 'copy_pm_inventory' item.id %}"
                           class="btn btn-link">click</a>
                        {%  endif %}

                    </td>

                    <td>{{ item.total_pm_items }}</td>
                    <td>{{ item.total_no_pm_items }}</td>
                    <td>

                        <a href="{% url 'update_pm_inventory' item.id 0 %}"
                           class="btn btn-link">Click</a>

                    </td>


                </tr>

            {% endfor %}

        </table>
    {% endif %}


{% endblock %}