{% extends "app/layout.html" %}
{% load auth_extras %}

{% block content %}
    <h2>Summarize Incident-ID : {{ x.incident.id }} as of {{ x.incident_updated_at | date:"d M Y H:i" }}  </h2>
    <h3>ประเมินความพอใจในการสรุป Incident Case #
     จำนวนพอใจ: <b style="background-color: lightgreen">{{ no_ok }} </b> | จำนวนไม่พอใจ: <b style="background-color: lightpink"> {{ no_not_ok }} </b> <br>
      {% if user_feedback == False %}
        <a href="{% url 'give_summary_feedback' x.id 1 %}"
           onclick="return confirm('พอใจในการสรุป Incident Case')" class="btn btn-primary btn-lg">พอใจ</a>
        <a href="{% url 'give_summary_feedback' x.id 0 %}"
           onclick="return confirm('ไม่พอใจในการสรุป Incident Case')" class="btn btn-primary btn-lg">ไม่พอใจ</a>
    {% endif %}

    </h3>



    <h3>Summarization by Model-{{ x.model }} at {{ x.updated_at | date:"d M Y H:i" }} </h3>
    <pre style="width: auto">
    {{ x.output_summary }}
    </pre>



{% endblock %}
