<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PM-Report</title>

    <link rel="stylesheet" type="text/css" href="pdf_content_pm.css"/>

</head>
<body>

<table class="my_table_caption">
    <tr>
        <th class="my_th_caption_summary">YIP</th>
    </tr>
</table>
<table>

    <tr>
        <td>Name</td>
        <td>Yip In Tsoi</td>
    </tr>


    <tr>
        <td>Address</td>
        <td>523 ถนน มหาพฤฒาราม แขวง มหาพฤฒาราม เขตบางรัก กรุงเทพ 10500</td>
    </tr>

</table>


<table class="my_table_caption">
    <tr>
        <th class="my_th_caption_summary">Project Info</th>
    </tr>
</table>
<table>


    <tr>
        <td>ENQ</td>
        <td>ENQ/65-Djang32-Migrate</td>
    </tr>


    <tr>
        <td>Project Name</td>
        <td>Djang3.2-Migrate Demo</td>
    </tr>

    <tr>
        <td>Start</td>
        <td>2022-01-01</td>
    </tr>

    <tr>
        <td>Finish</td>
        <td>2024-12-31</td>
    </tr>
    <tr>
        <td>Planed Date</td>
        <td>2022-11-01</td>
    </tr>
    </tr>
    <tr>
        <td>Period</td>
        <td>PM#1/2</td>
    </tr>

</table>

<br>
<br>



    <br><br>
    <table class="my_table_caption">
        <tr>
            <th class="my_th_caption">PM Inventory List</th>
        </tr>
    </table>
    <table class="my_table_master">

        <thead>
        <tr>
            <th>Serial</th>
            <th >Brand</th>
            <th >Model</th>
        </tr>
        </thead>


            <tr>
                <td>bc001</td>
                <td>YIP</td>
                <td>Yit-Blockchain</td>
            </tr>

            <tr>
                <td>bc002</td>
                <td>YIP</td>
                <td>Yit-Blockchain</td>
            </tr>

            <tr>
                <td>bc003</td>
                <td>YIP</td>
                <td>Yit-Blockchain</td>
            </tr>

            <tr>
                <td>bc004</td>
                <td>YIP</td>
                <td>Yit-Blockchain</td>
            </tr>

            <tr>
                <td>bc005</td>
                <td>YIP</td>
                <td>Yit-Blockchain</td>
            </tr>


    </table>



</body>
</html>